@font-face {
	
  font-family: Roboto;
  src: url('fonts/RobotoMono-Regular.ttf');
	
}
	
body {

	font-family: Roboto;
	font-size: 20px;
	color: #dddddd;
	background-color: #1c1c1c;
	text-align: center;

}

.subTitle {margin: 10px}
#outputTitle {margin: 20px}

.title {

	font-size: 50px;
	padding: 10px;
	background-color: #202020;
	border: 1px solid #404040;
	border-bottom: 0px;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	width: 50%;
	margin: auto;
	margin-bottom: 0px;
	
}

.content {

	background-color: #202020;
	width: 50%;
	margin: auto;
	padding: 10px;
	margin-top: 0px;
	border-radius: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border: 1px solid #404040;
	
}

.convertButton {

	font-size: 30px;
	font-family: Roboto;
	color: #808080;
	background-color: #101010;
	border-radius: 10px;
	border: 1px solid #404040;
	padding: 15px;
	margin: 0px;

}

.convertButton :hover {color: #dddddd}

.inputField {

	font-family: Roboto;
	font-size: 30px;
	color: #808080;
	background-color: #404040;
	border: 1px solid #808080;
	border-radius: 5px;
	padding: 7.5px;
	width: 90%;
	margin: auto;
	max-width: 90%;
	text-align: left;
	
}

#inputBaseField {

	font-family: Roboto;
	font-size: 30px;
	color: #808080;
	background-color: #404040;
	border: 1px solid #808080;
	border-radius: 5px;
	padding: 7.5px;
	width: 15%;
	margin: auto;
	max-width: 15%;
	word-wrap: break-word;
	text-align: left;
	
}

#inputIntegerField {

	font-family: Roboto;
	font-size: 30px;
	color: #808080;
	background-color: #404040;
	border: 1px solid #808080;
	border-radius: 5px;
	padding: 7.5px;
	width: 80%;
	margin: auto;
	max-width: 80%;
	word-wrap: break-word;
	text-align: left;
	
}

#outputBaseField {

	font-family: Roboto;
	font-size: 30px;
	color: #808080;
	background-color: #404040;
	border: 1px solid #808080;
	border-radius: 5px;
	padding: 7.5px;
	width: 15%;
	margin: auto;
	max-width: 15%;
	word-wrap: break-word;
	text-align: left;
	
}

.outputField {

	font-size: 30px;
	color: #808080;
	background-color: #404040;
	border: 1px solid #808080;
	border-radius: 5px;
	padding: 7.5px;
	width: 80%;
	margin: auto;
	margin-bottom: 10px;
	max-width: 97.5%;
	word-wrap: break-word;
	text-align: left;
	display: inline-block;

}

.copyToClipboard {

	font-size: 30px;
	padding: 15px;
	color: #808080;
	font-family: Roboto;
	background-color: #101010;
	border: 1px solid #404040;
	border-radius: 10px;
	width: 19ch;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	
}

.copyToClipboard :hover {color: #dddddd}